/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #33475b;
}
h2{
    font-size: 32px;
}
p{
    line-height: 30px;
}

/* UTILITIES */
/* Layout */
.container{
    width: 1300px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.w-quarter{
    width: 25%;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}

/* Text */
.small-text{
    font-size: 12px;
}
.align-center{
    text-align: center;
}
.illustration{
    height: 110px;
    margin-bottom: 20px;
}

/* List */
li{
    list-style: none;
}
.cursor li,
.cursor.chat-icon{
    cursor: pointer;
}
li > i.fa-check-circle{
    padding-right: 10px;
    color: #ff7a59;
}
.menu-inline li{
    display: inline-block;
    margin-right: 20px;
}
.menu-inline li:last-child{
    margin-right: 0;
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}
.btn.btn-transparent{
    background-color:transparent;
    color:#ff7a59;
}
.btn.btn-big{
    padding: 20px 40px;
}
.btn.get-free::after{
    content: 'GetHuspotFree';
}
.btn.learn::after{
    content: 'Learn More';
}
.btn-chat{
    display: inline-block;
    margin: 4px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border: 1px solid #33475b;
    border-radius: 3px;
}
/* Buttons Interaction */
.btn:not(.btn-transparent):hover{
    opacity:.5;
}
.btn:not(.btn-transparent):active{
    opacity: 1;
    background-color: #cc4e2f;
    border: 1px solid #cc4e2f;
}
.btn.btn-transparent:hover{
    background-color: rgba(255,122,89,.1);
}
.btn.btn-transparent:active{
    background-color: rgba(255,122,89,.5);
}

/* CHAT */
.chat-box{
    position: fixed;
    right:15px;
    bottom: 15px;
    z-index: 10;
}
/* Chat Icon */
.chat-box .chat-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    background-color: #425b76;
}
.chat-box .chat-icon i.fa-times{
    /* display: none; */
    line-height: 60px;
}

/* Chat Text */
.chat-box .chat-text{
    display: none;
    position: absolute;
    right: 0;
    bottom: 80px;
    padding: 28px 16px 15px;
    width: 240px;
    color: #33475b;
    text-align: left;
    line-height: 2;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.chat-box .chat-text::before{
    content: '\2715';
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#7c98b6;
}
.chat-box .chat-text > img{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 48px;
}
.chat-box .chat-text::after{
    content: '';
    display: block;
    position: absolute;
    top:100%;
    right: 0;
    width: 100%;
    height: 30px;
}
/* Chat Window */
.chat-box .chat-window{
    width: 380px;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f2f5f8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    overflow: hidden;
}
/* Chat Window Top */
.chat-box .chat-window .chat-window-top{
    position: relative;
    height: 70px;background-color: #425b76;
    line-height: 70px;
    padding-left: 14px;
    font-size: 16px;
    color: #fff;
}
.chat-box .chat-window .chat-window-top::before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #00bda5;
    border: 2px solid #fff;
    border-radius: 50%;
}
.chat-box .chat-window .chat-window-top > img{
    height: 38px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #fff;
}
/* Chat Window Dialogue */
.chat-box .chat-window .dialogue-box{
    position: relative;
    width: 100%;
    height: 260px;
    margin-bottom: 5px;
    padding: 30px 20px 40px 60px;
    line-height: 12px;
    background-color: #fff;
    overflow-y:auto;
}
.chat-box .chat-window .dialogue-box > img{
    position: absolute;
    top: 15px;
    left: 20px;
    height: 32px;
}
.chat-box .chat-window .dialogue-box .dialogue{
    margin-bottom: 10px;
    padding: 10px;
    line-height: 2;
    background-color: #eaf0f6;
    border-radius: 0 10px 10px 10px;
}
/* Chat Window Information */
.chat-box .chat-window .chat-information{
    margin-bottom: 3px;
    padding: 30px 30px;
    font-size: 10px;
    color: #7c98b6;
    line-height: 1.5;
    background-color: #fff;
}
/* Chat Window Bottom */
.chat-box .chat-window .chat-window-bottom{
    width: 100%;
    background-color: #fff;
}
.chat-box .chat-window .chat-window-bottom .chat-options{
    width: 86%;
    margin: 0 2%;
    padding: 8px;
    font-size: 16px;
    color: #b0c1d4;
    background-color: #eaf0f6;
    border-radius: 3px;
}
.chat-box .chat-window .chat-window-bottom .paper-plane{
    width: 8%;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #b0c1d4;
}
.chat-box .chat-window .chat-window-bottom .chat-add{
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #7c98b6;
}
.chat-box .chat-window .chat-window-bottom .chat-add i,
.chat-box .chat-window .chat-window-bottom .chat-add span{
    color: #ff7a59;
}
/* Chat Interations */
.chat-box .chat-icon:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.chat-box .chat-icon:hover i.fa-times,
.chat-box .chat-icon:hover .chat-text,
.chat-box .chat-text:hover .chat-window{
    display: block;
}
.chat-box .chat-icon:hover i.fa-comments{
    display: none;
}

/* HEADER */
.main-header .top-header,
.main-header .bottom-header{
    line-height: 85px;
}
.main-header .top-header{
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}
/* Interaction */
header li:hover{
    text-decoration: underline;
    color: #007a8c;
}
/* Top */
/* Top Left */
.top-header .left-top-header .menu-inline > li:first-child{
    position: relative;
    padding-right: 20px;
    line-height: 1.5;
    border-right: 2px solid #899397;
}
/* Ghost Menu */
.top-header .left-top-header .menu-inline .ghost-menu{
    display: none;
    position: absolute;
    left: 77%;
    z-index: 10;
    padding: 20px;
    line-height: 2;
    color: #33475b;
    background-color: #f4f9fd;
    border: 1px solid #007a8c;
    border-radius: 0 40px 40px 40px;
    box-shadow: 0 0 15px rgba(255,122,89,.5);
}
.top-header .left-top-header .menu-inline li:first-child:hover .ghost-menu{
    display: block;
}
/* Top Right */
.top-header .right-top-header li{
    line-height: 1;
}
.top-header .right-top-header li:first-child{
    color: #00a4bd;
}

/* Bottom */
/* Bottom left */
.bottom-header .container{
    position: relative;
}
.bottom-header .left-bottom-header img{
    vertical-align: middle;
}
/* Bottom Rigth */
.bottom-header .right-bottom-header li span{
    padding-left: 10px;
}
.bottom-header .right-bottom-header li{
    border-bottom: 4px solid transparent;
}

.bottom-header .right-bottom-header li#software:hover,
.bottom-header .right-bottom-header li#resources:hover,
.bottom-header .right-bottom-header li#about:hover{

    border-bottom: 4px solid #33475b;
}
.bottom-header .right-bottom-header li#software:hover .dropdown,
.bottom-header .right-bottom-header li#resources:hover .dropdown,
.bottom-header .right-bottom-header li#about:hover .dropdown{
    display: block;
}

/* Dropdown */
.bottom-header .menu-inline .dropdown{
    display: none;
    position: absolute;
    font-size: 14px;
    color: #33475b;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.7);
    z-index: 1;
    cursor:default;
}
/* Software Menu */
li#software .dropdown{
    left: 0;
    top: 100%;
    line-height: 1.5;
    background-color: #f5f8fa;
}
li#software .dropdown a{
    text-decoration: none;
    font-weight: 600;
    color:#1d9db7;
}
li#software .dropdown a:hover{
    text-decoration: underline;
}
li#software .title-dropdown-software{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500;
}
/* Software Menu Left */
li#software .dropdown-software-left{
    width: 23%;
    padding: 50px 30px;
    background-color: #f5f8fa;
}
li#software .dropdown-software-left .overview{
    display: inline-block;
    width: 50%;
}
/* Software Menu Right */
li#software .dropdown-software-right{
    width: 77%;
    padding-right: 100px;
    background-color: #fff;
}
li#software .dropdown-software-right .hub-box{
    padding: 60px 60px 10px;
}
li#software .dropdown-software-right .hub{
    position: relative;
    width: 40%;
    margin-left: 30px;
    padding: 20px 20px 20px 60px;
    border-radius: 3px;
}
li#software .dropdown-software-right .hub .hub-icon{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #ff7a59;
    background-color: #f5f8fa;
}
li#software .dropdown-software-right .hub:last-child .title-dropdown-software::after{
    content: 'New';
    margin-left: 5px;
    padding: 3px 8px;
    font-size: 12px;
    color: white;
    background-color: #00bda5;
    border-radius: 5px;
}
li#software .dropdown-software-right .hub:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
/* Software Menu Bottom Right  */
li#software .dropdown-software-right .drop-soft-bottom-right{
    text-align: center;
    line-height: 75px;
}
li#software .dropdown-software-right .drop-soft-bottom-right hr{
    border: 1px solid #f5f8fa;
}
li#software .dropdown-software-right .drop-soft-bottom-right h3,
li#software .dropdown-software-right .drop-soft-bottom-right p{
    display: inline-block;
    margin: 0 10px;
}

/* Resources Menu */
li#resources .dropdown{
    top:100%;
    right: 0;
    padding: 30px;
    line-height: 2;
    background-color: #fff;
}
li#resources .dropdown .resources-left,
li#resources .dropdown .resources-right{
    margin-left: 30px;
    margin-right: 50px;
}
li#resources .dropdown li{
    display: block;
}
li#resources .dropdown h4{
    position: relative;
}
li#resources .dropdown .resources-icon{
    position: absolute;
    top: -5px;
    left: -40px;
    width: 35px;
    height: 35px;
    padding: 0;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #7b98b6;
    background-color: #f5f8fa;
}

/* About Menu */
li#about .dropdown{
    top: 100%;
    right: 0;
    padding: 20px;
    line-height: 2;
    background-color: #fff;
}
li#about .dropdown li{
    display: block;
}

/* MAIN */
/* HERO */
section.hero{
    position: relative;
    height: 685px;
    padding-top: 60px;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: right 40%;
    background-color:#fff5ee;
}
.hero .band{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}
.hero .container{
    padding-right: 650px;
}
.hero h1{
    font-size: 48px;
    font-weight: 800;
}

/* SOFTWARES SECT. */
section.softwares{
    padding: 60px;
    background-color: #f4f9fd;
}
section.softwares h3{
    text-transform: uppercase;
}
section.softwares div:not(.heading-soft-sect) h2{
    font-size: 24px;
}

/* Heading Soft. Sect. */
.softwares .heading-soft-sect{
    padding: 0 430px;
}
.softwares .heading-soft-sect img{
    height: 210px;
}

/* Free Hubspot */
.product{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,.2);
}
.product.free-hubspot{
    padding: 80px;
}
/* Left */
.product.free-hubspot .left-free-hubspot{
    width: 25%;
}
/* Right */
.product.free-hubspot .right-free-hubspot{
    width: 75%;
    padding: 0 50px;
}
.product.free-hubspot .right-free-hubspot h3{
    position: relative;
}
.product.free-hubspot .right-free-hubspot h3 span{
    position: relative;
    background-color: #fff;
    padding-right: 60px;
}
.product.free-hubspot .right-free-hubspot h3::before{
    content: '';
    display: inline-block;
    width:100%;
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    border: 1px solid #899397;
}

/* Products */
.products-box .product.premium{
    width: 30%;
    padding: 20px 35px;
}
.products-box .product.premium:nth-child(2){
    margin: 0 5%;
}
.products-box .product.premium hr{
    padding-top: 15px;
    border: transparent;
    border-bottom: 2px solid #899397;
}
.products-box .product.premium ul{
    text-align: left;
}

/* COMMUNITY */
section.community{
    padding: 60px;
    color:white;
    background-image: linear-gradient(to right,#00a8ba,#00b9aa);
}

/* Heading Community */
.community .heading-community h2{
    padding: 0 40px;
}

/* Numbers */
.community .numbers-box .numbers{
    padding: 20px 0 25px;
    border-right: 1px solid white;
}
.community .numbers-box .numbers:last-child{
    border-right: none;
}
.numbers-box .numbers img{
    max-height: 35px;
    margin-bottom: 15px;
}
.numbers-box .numbers .amount{
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 700;
}
.numbers-box .numbers .amount::after{
    content: '+';
    position: relative;
    left: 5px;
    bottom: 3px;
    font-size: 32px;
    font-weight: 500;
}
/* Bottom Box */
.community .numbers-box.bottom-numbers-box{
    border-top: 1px solid white;
}
.community .numbers-box.bottom-numbers-box .numbers:last-child img{
    height: 25px;
}

/* CUSTOMERS */
section.customers{
    padding: 60px 60px 20px;
}
/* Top Left*/
.customers .top-customers .top-left-customers{
    width: 30%;
    padding: 20px 90px;
}
.customers .top-customers .top-left-customers span.number{
    display: inline-block;
    font-size: 52px;
}
.customers .top-customers .top-left-customers span{
    font-weight: 700;
}
/* Top Right */
.customers .top-customers .top-right-customers{
    width: 65%;
    padding: 0 70px;
}
.customers .top-customers .top-right-customers img{
    max-width: 140px;
    /* max-height: 40px; */
    margin:0 20px 30px 0;
    vertical-align: middle;
}
.customers .top-customers .top-right-customers img:last-child{
    margin-right: 0;
}
/* Bottom */
.customers .bottom-customers .bottom-left-customers{
    width: 40%;
}
.customers .bottom-customers .bottom-right-customers img{
    height: 400px;
    position: relative;
    bottom: 35px;
}

/* FOOTER */
footer.main-footer{
    padding: 50px;
    color: #c4cfdb;
    background-color: #2d3e50;
}
/* Interaction */
footer li:hover{
    color: #7fd1de;
    text-decoration: underline;
}
footer a > i:hover{
    color: #7fd1de;
}
/* Menu */
.main-footer .menu-box{
    margin-bottom: 80px;
}
.main-footer .menu-box .menu h4{
    color: #fff;
}
.main-footer .menu-box .menu ul{
    display: inline-block;
}
.main-footer .menu-box .menu ul.cursor li{
    margin: 20px 0;
}
.main-footer .menu-box .menu .btn{
    margin-bottom: 20px;
    color: #2d3e50;
    background-color: #c4cfdb;
    border: transparent;
}
.main-footer .menu-box .menu a{
    margin-right: 5px;
    color: #c4cfdb;
}
/* Languages */
.main-footer .languages{
    line-height: 60px;
    border-bottom: 1px solid #c4cfdb;
}
/* Bottom */
.main-footer .bottom-footer .left-bottom-footer img{
    margin-bottom: 10px;
}
.main-footer .bottom-footer .right-bottom-footer{
    text-align: right;
}