/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

/* UTILITIES */
/* Layout */
.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
/* List */
.menu-inline li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}
.menu-inline li:last-child{
    margin-right: 0;
}
.cursor li{
    cursor: pointer;
}
/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
}
.btn.btn-white{
    background-color: #fff;
    color:#ff7a59;
}
.btn.btn-big{
    padding: 20px;
}

/* HEADER */
.main-header{
    height: 170px;
}
.main-header .top-header,
.main-header .bottom-header{
    height: 50%;
    line-height: 85px;
}
.main-header .top-header{
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}
/* Top left */
.left-top-header li:first-child{
    padding-right: 20px;
    line-height: 1.5;
    border-right: 2px solid #899397;
}
/* Top right */
.right-top-header li{
    line-height: 1;
}
.right-top-header li:first-child{
    color: #00a4bd;
}

.bottom-header{
    background-color: aqua; /*fake content*/
}
.left-bottom-header,
.right-bottom-header{
    height: 100%; /* fake content */
    width: 300px; /* fake content */
    background-color: rgba(200,200,0,.3); /* fake content */
}